codeRecipes/SData/manuscripts
codeRecipes/SData/vectorsSData
codeRecipes/DBrief/documents
codeRecipes/DBrief/vectorsDBrief
codeRecipes/neurips/attachments/
codeRecipes/neurips/documents/
codeRecipes/neurips/documents/
codeRecipes/old/
**/.DS_Store
~$*